.table-wrapper {
    overflow-y: auto;
}

table {
    width: 100%;
    min-width: 400px;
    border-spacing: 0;
}

th, td {
    text-transform: capitalize;
    padding: 15px 10px;
    text-align: left;
}

tbody > tr:hover {
    background-color: var(--main-color);
    color: var(--txt-white);
}